.container {
    @apply flex w-full flex-col;
    min-height: 80vh;

    @screen lg {
        display: grid;
        grid-template-columns: auto 1fr;
        max-width: theme('screens.xl');
        margin: 0 auto;
        padding: 2rem;

        & > aside:first-of-type {
            grid-row: 1 / -1;
            grid-column: 0 / 0;
            padding-right: 6rem;
        }
    }
}

.categoryFilters {
    margin-bottom: 2rem;
    @screen lg {
        margin: 0rem;
    }
}
