.hero {
    height: 50vh;
    width: 100%;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-hero {
    display: flex;
    width: 100%;
    max-width: theme('screens.lg');
    align-items: center;
    justify-content: space-between;

    & > * + * {
        margin-left: 2rem;
    }

    @media screen and (max-width: theme('screens.lg')) {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > * + * {
            margin-top: calc(1vw + 3rem);
            margin-left: 0;
        }

        .search-box {
            width: 100%;

            & > h3 {
                text-align: center;
            }
        }

        .logo {
            width: calc(18rem + 18vw);
        }
    }
}

.logo-wrapper {
    flex-grow: 1;
}

.logo {
    width: 100%;
    max-width: 32rem;
    height: auto;
}

.search-box {
    flex: none;
    max-width: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    & > h3 {
        margin-bottom: 1rem;
    }
}
