@import '../colors.scss';
@import '../utilities.module.scss';
@import '../animation.scss';

.button {
    background-color: $primary;
    border-radius: 0.2rem;
    padding: 0.25rem 0.75rem;
    z-index: 2;

    &--outlined {
        @extend .button;
        background-color: transparent;
        color: $primary;
        border: 1px solid hsl(0, 0%, 60%);

        &:hover {
            background-color: rgba($color: $primary, $alpha: 0.18);
        }

        &:active {
            @extend .pressAnimation;
        }

        &--disabled {
            @extend .button;
            color: gray;
            background-color: transparent;
            background-color: hsl(0, 0%, 88%);
            border: 1px solid hsl(0, 0%, 85%);

            &:hover {
                cursor: default;
            }
        }
    }

    &--contained {
        @extend .button;
        background-color: $primary;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        &:hover {
            background-color: $primary-light;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
        }

        &:active {
            @extend .pressAnimation;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            background-color: $primary-lighter;
        }

        &--disabled {
            @extend .button;
            color: gray;
            background-color: hsl(0, 0%, 85%);

            &:hover {
                cursor: default;
            }
        }
    }

    &--text {
        @extend .button;
        background-color: transparent;
        color: $primary;

        &:hover {
            background-color: lighten($primary, 65%);
        }

        &:active {
            @extend .pressAnimation;
            background-color: transparent;
        }

        &--disabled {
            @extend .button;
            color: gray;
            background-color: transparent;
            background-color: hsl(0, 0%, 88%);

            &:hover {
                cursor: default;
            }
        }
    }
}

.pressAnimation {
    @extend .center;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 0.2rem;
        transform: scale(1.05);
        background-color: saturate(
            $color: transparentize($color: $primary, $amount: 0.75),
            $amount: 1
        );

        @include keyframes(buttonPress) {
            0% {
                width: 0px;
                border-radius: 50%;
            }
            20% {
                width: 90%;
                border-radius: 10%;
                transform: scale(1.02);
            }
            25% {
                width: 100%;
                border-radius: 0px;
            }
            100% {
                transform: scale(1.05);
            }
        }

        @include animate(buttonPress, 1s, linear, 1);
    }
}
