$content-padding: 1.5rem;
$text-color: theme('colors.gray.800');

.popUp {
  overflow-y: scroll;
  padding: 0.5rem;
  min-height: 100vh;

  @screen md {
    padding: 1rem 1rem 12rem;
  }
}

.image-wrapper {
  @apply bg-gray-200;
  height: 30vh;
  overflow: hidden;

  @screen sm {
    height: 32rem;
  }

  & > img {
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
  }
}

.description > h4,
.specs > h4 {
  @apply text-lg;
  padding-bottom: 0.75rem;
}

.description > p,
.specs > table {
  color: $text-color;
}

.description {
  flex: 6;
  min-height: 16rem;

  &[data-content-length='0'] {
    min-height: auto;
  }
}

.specs {
  min-width: 16rem;
  min-height: 8rem;
}

.specs-table {
  @apply table-auto;
  width: 100%;

  td {
    @apply py-1;
  }

  & tr:not(:last-child) {
    @apply border-b;
  }
}

@screen lg {
  .specs {
    height: min-content;
  }

  .specs-hidden {
    @extend .specs;
  }

  .specs {
    max-width: 24rem;
  }
}

