.button {
    @apply mx-2 h-12 w-12 transform shadow hover:scale-110 hover:shadow-md;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child & {
        border-radius: 0px 5px 5px 0px;
    }
    &:first-child & {
        border-radius: 5px 0px 0px 5px;
    }
    &:hover {
        background-color: lightgray;
    }
    &:active {
        background-color: rgb(230, 230, 230);
    }
}
