.listingContainer {
    @apply border-2 border-gray-200;

    display: grid;
    background-color: white;
    border-radius: 0.75rem;
    grid-template-areas: '. . .';
    grid-template-columns: 6rem 1fr auto;
    grid-template-rows: none;
    height: 6rem;
    position: relative;

    .hover {
        background-color: red;
    }
}

.image {
    display: block;
    flex: none;
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border-radius: 0.75rem;
}

.description,
.details {
    padding: 0.5rem;
}

.description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc(6rem - 1rem);
    overflow: hidden;
    height: 100%;
    margin-right: min(5%, 2rem);
    margin-left: 1rem;

    h4 {
        flex: none;
        max-height: calc(2ch);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 0.5rem;
    }

    p {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        flex-grow: 1;
        font-size: small;
        line-height: 1.8em;
    }
}

.details {
    display: flex;
    flex-direction: column;
    flex: none;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;

    .regionText {
        font-size: small;
        color: gray;
    }

    .priceText {
        font-size: medium;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.075);
    border-radius: 0.75rem;
}

.redirectButton {
    position: absolute;
    right: 0.75rem;
    bottom: 0.75rem;

    button {
        width: 6rem;
    }
}
