.link {
    @apply text-sm;
}

.main-link {
    @extend .link;
    @apply mb-4 text-lg;
}

.sublink {
    @extend .link;
    @apply text-gray-200;
}

.footer {
    @apply bg-primary p-8 text-white sm:p-12;
    min-height: 32rem;
}

.inner-footer {
    @apply mx-auto grid w-full max-w-7xl grid-cols-2 gap-8 sm:flex md:gap-0 md:space-x-16;
    max-width: theme('screens.lg');
}

.link-list {
    & > li {
        @extend .link;
    }

    & > li:first-of-type {
        @extend .main-link;
    }

    & > li:not(:first-of-type),
    & > ul > li {
        @extend .sublink;
    }

    & > li + li {
        margin-top: 0.75rem;
    }
}
