.link {
    @apply text-sm;
}

.main-link {
    @extend .link;
    @apply mb-4 text-lg;
}

.sublink {
    @extend .link;
    @apply text-gray-200;
}

.footer {
    @apply bg-primary p-8 sm:p-12 text-white;
    min-height: 32rem;
}

.inner-footer {
    @apply max-w-7xl mx-auto;

    & > div {
        @apply w-full sm:flex grid grid-cols-2 space-x-8 md:space-x-16;
        max-width: theme('screens.md');
        justify-content: space-between;
    }
}

.link-list {
    & > li {
        @extend .link;
    }

    & > li:first-of-type {
        @extend .main-link;
    }

    & > li:not(:first-of-type),
    & > ul > li {
        @extend .sublink;
    }

    & > li + li {
        margin-top: 0.75rem;
    }
}
