@import '~@wille430/ui/scss/root';

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(../fonts/Inter/Inter-VariableFont_slntwght.ttf);
}

@media (min-width: 640px) {
    .w-fixed {
        flex: 0 1 230px;
        min-width: 230px;
    }
}

.basic-layout {
    @apply flex flex-col gap-4 p-4;
    grid-template-columns: 1fr calc(theme('screens.md') + 2rem) 1fr;
    max-width: theme('screens.lg');
    margin: 0 auto;
    height: 100%;

    @screen xl {
        display: grid;
        max-width: none;
        margin: none;
    }

    & > main {
        flex-grow: 1;
    }
}

/* REACT SELECT */
.Select__control {
    min-height: 42px !important;

    & > span {
        z-index: 2;
    }
}
