.snackbar {
    @apply z-50 flex cursor-pointer select-none flex-row justify-between rounded bg-primary text-white shadow-sm;

    pointer-events: all;
    flex-direction: column;

    width: 100%;
    max-width: 20rem;
    min-height: 3rem;
    padding: 0.5rem 0.75rem;

    &.small {
        justify-content: center;
        max-height: 4rem;
    }

    &.error {
        border: 2px solid theme('colors.red.400');
        background-color: theme('colors.red.500');
    }
}

.header {
    @apply w-full overflow-hidden;

    display: flex;
    flex-direction: row;
    flex: none;

    h4 {
        @apply overflow-hidden;
        flex-grow: 1;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    button {
        flex: none;
    }
}

.bodyText {
    font-size: small;
    color: whitesmoke;
    margin-top: 0.5rem;
    flex-grow: 1;
    width: 100%;
    min-width: 1.5rem;
    white-space: normal;
    word-break: break-all;

    // overflow
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
