.link {
    & > div a,
    button.link {
        @apply rounded;
        position: relative;
        display: block;
        padding: 0.15rem 0.5rem;
        width: 100%;
        text-align: left;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    & > div:first-child {
        position: relative;
    }

    & .sublinks.list {
        position: relative;
    }

    & &:first-child {
        margin-top: 0.75ch;
    }

    & &:last-child {
        margin-bottom: 1ch;
    }

    & & {
        margin-left: 2ch;
    }

    &[data-expand='false'] {
        .link {
            display: none;
        }
    }
}

.expand-button {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: 100%;
    width: 3ch;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        @apply rounded-full;
        background-color: rgba(0, 0, 0, 0.15);
    }
}

.nav {
    width: 100%;
    display: flex;
}

.link-list {
    grid-area: nv;
    width: 100%;
    color: white;
    overflow: hidden;
}

.menu-toggle {
    color: white;
    height: min-content;
}

.logo {
    max-height: 2rem;
    width: fit-content;

    & > img {
        height: 100%;
        width: auto;
    }
}

@screen md {
    .nav {
        @apply mx-auto max-width;
        display: grid;
        grid-template-columns: 1fr 32rem 1fr;
        grid-template-areas: 'lg nv .';
    }

    .link-list {
        @apply rounded-full text-sm;
        padding: 0.5ch 1.5ch;
        height: min-content !important;
        background-color: white;
        display: flex;
        color: black;
        overflow: visible;
        z-index: 10;
    }

    .link {
        position: relative;

        .sublinks-list {
            display: none;
        }

        &:hover {
            .sublinks-list {
                display: block;
            }
        }

        &[data-expand='false'] {
            .link {
                display: block;
            }
        }
    }

    .sublinks-list {
        position: absolute;

        &::before {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            transform: translateY(calc(-0.5rem + 1.75ch));
            left: 2ch;

            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-bottom: 0.5rem solid theme('colors.gray.300');
        }

        & > ul {
            @apply rounded border;
            background-color: white;
            padding: 0.5ch;
            padding-bottom: 1ch;
            padding-top: 1ch;
            min-width: 12rem;
            margin-top: 1.75ch;
        }

        & .link {
            margin: 0 !important;
        }
    }

    .menu-toggle {
        display: none;
    }

    .expand-button {
        display: none;
    }

    .logo {
        grid-area: lg;
    }
}
