.link {
    @apply rounded;
    padding: 0.15rem 0.5rem;

    .menu {
        display: none;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &:hover,
    .menu:hover {
        .menu {
            display: block;
            z-index: 200;
        }
    }
}
