.categoryPath {
    font-size: 0.75rem;
}

.infoHeader {
    display: flex;
    justify-content: space-between;
}

.specifications {
    border-collapse: separate;
    border-spacing: 0rem 0.75rem;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;

    & tr > td:first-child {
        padding-right: 0.75rem;
    }

    & tr > td:last-child {
        word-wrap: break-word;
    }
}

.infoBody {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        column-gap: 4rem;

        & aside {
            max-width: 20rem;
        }

        & div > h4 {
            padding-bottom: 0.75rem;
        }

        & hr {
            display: none;
        }
    }
}

.originLabel {
    text-align: right;
}

.header {
    display: flex;
    justify-content: space-between;
}
