.container {
    max-width: 100%;
    min-width: 12rem;
    background-color: white;
}

.subcat {
    font-size: 0.8rem;
    color: hsl(0, 0, 30%);
    margin-left: 1rem;
}

.selected {
    font-weight: 800;

    & > ul > * {
        font-weight: 400;
    }
}