$primary: hsl(205, 35%, 22%);
$primary-light: hsl(205, 45%, 27%);
$primary-lighter: hsl(205, 45%, 35%);
$primary-lightest: hsl(205, 41%, 75%);

$secondary: hsl(135, 80%, 61%); 
$paper: hsl(0, 100%, 99%);