@import '../colors.scss';
@import '../utilities.module.scss';
@import '../animation.scss';

.input {
    outline: none;
    width: 100%;
    background-color: transparent;
    flex-grow: 1;
}

.container {
    background-color: $paper;
    width: clamp(8rem, 10rem, 100%);
    border-radius: 0.25rem;
    padding: 0.5rem;
    border: 1px solid hsl(0, 0%, 70%);
    transition: all ease-in-out 250ms;
    position: relative;
    display: flex;
    box-sizing: border-box;

    &.isActive {
        border: 2px solid $primary;
    }

    &.fullWidth {
        width: 100%;
    }

    &.hidden {
        display: none;
    }
}

.clearButton {
    color: gray;
    pointer-events: inherit;

    &:hover > * {
        transition: all 500ms ease;
        transform: rotateZ(90deg);
    }
}

.label {
    position: absolute;
    transition: translate 1s linear;
    pointer-events: none;
    font-size: 1rem;
    transform: translateY(0);
    color: gray;

    &.isActive {
        font-size: 0.75rem;
        color: $primary;
        transform: translateY(-1.1rem);
        transition: none;
    }

    &:after {
        content: '';
        display: block;
        position: relative;
        z-index: -1;
        height: 0.5rem;
        width: calc(100% + 0.5rem);
        top: -1rem;
        left: -0.25rem;
        background-color: rgb(255, 255, 255);
    }
}

.wrapper {
    height: max-content;
    padding: 0;
    margin: 0;
}
