@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

$layout-width: theme('screens.lg');

@layer base {
  hr {
    @apply border border-gray-200;
  }
}

@layer components {

  .btn {
    @apply px-3 py-1 text-white bg-primary rounded;

    &:disabled {
      @apply bg-gray-300 text-gray-600;
    }
  }

  .btn-outlined {
    @apply bg-transparent border-primary border-2 text-black;

    &:disabled {
      @apply border-0;
    }
  }

  .btn-sm {
    @apply px-2 py-0 text-sm;
  }

  .btn-lg {
    @apply px-3 py-2;
  }

  .form {
    @apply mx-auto flex max-w-md flex-col space-y-8;
  }

  .section {
    @apply mx-auto  overflow-hidden rounded-md border-2 border-gray-300 bg-white p-4;
  }

  .container {
    @apply mx-auto;
  }

  .btn-group {
    @apply flex space-x-4 md:justify-center;
  }

  .box {
    @apply rounded-md bg-gray-100 p-4;
  }

  .divided-content {
    @apply space-y-12 p-4;
    margin: 0 auto;
    max-width: $layout-width;
    width: 100%;
    display: flex;
    flex-direction: column;

    @screen lg {
      @apply space-x-16 space-y-0;
      flex-direction: row;
    }
  }

  .double-col-grid {
    @apply container mx-auto gap-4 py-16 flex flex-col-reverse px-3 lg:grid lg:grid-cols-[1fr_4fr_1fr];
  }

  .single-col-grid {
    @apply container mx-auto gap-4 py-16 px-3;
    display: grid !important;
    grid-template-columns: 275px 4fr;
  }

  .dropdown-parent {
    &:hover > .dropdown {
      display: block !important;
    }
  }

  .dropdown {
    @apply hidden py-2 absolute bg-white rounded border border-gray-300;
  }

  .li-link {
    @apply block py-1.5 px-2 hover:bg-gray-300 text-left w-full;
  }
}

@layer utilities {
  .max-width {
    @apply w-full max-w-screen-lg;
  }

  .centered {
    @apply center-x items-center;
  }

  .center-x {
    @apply flex justify-center;
  }

  .center-y {
    @apply flex items-center;
  }
}

@media (min-width: 640px) {
  .w-fixed {
    flex: 0 1 230px;
    min-width: 230px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', 'Urbanist', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-size: 93px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}

h6 {
  font-size: 0.5rem;
}

p {
  font-size: 1rem;
}

p.body2 {
  font-size: 0.875rem;
}

caption {
  font-size: 0.75rem;
}

body {
  background-color: theme('backgroundColor.white');
}

/* REACT SELECT */
.Select__control {
  min-height: 42px !important;

  &--is-focused {
    border-color: theme('colors.primary') !important;
    box-shadow: 0 0 0 1px theme('colors.primary') !important;
  }

  & > span {
    z-index: 2;
  }
}

.card {
  @apply border border-gray-300 p-4 rounded bg-paper;
  align-items: stretch;

  &__body {
    @apply p-1 px-2.5 py-1.5;
    flex: 2;
  }

  &__heading {
    @apply mb-1 text-base text-primary;
  }

  &__text {
    @apply text-sm;
  }

  &__image-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: max(8rem, 30%);
  }

  &__img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

.spacers-arrow > *:not(:last-child):after {
  content: ">";
  margin-left: 0.5rem;
}
