$card-overlay-z-index: 1;

$like-button-z-index: 5;
$like-button-padding: 0.25rem;

$fade-transition: all 150ms linear;

.card {
    @apply shadow-md border-2 border-gray-100 rounded-sm bg-paper;
    width: 16rem;
    height: 16rem;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    .like-button,
    .overlay {
        opacity: 0;
    }

    &:hover > .like-button,
    &:hover > .overlay {
        opacity: 1;
    }
}

.card :global(img) {
    object-fit: cover;
    width: 100%;
}

.image-wrapper {
    flex-grow: 1;
    height: auto;
    overflow: hidden;
    display: flex;
}

.details {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    height: auto;
    flex: none;
}

.header {
    display: flex;
    flex-grow: 1;
    font-size: small;
    overflow: hidden;
}

.title {
    font-size: small;
    flex-grow: 2;
    max-lines: 2;
    margin-right: 0.5rem;
    max-height: 5ch;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.region {
    @apply text-gray-600;
    font-size: smaller;
    flex: none;
    min-width: 4rem;
    max-width: 6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom {
    flex: none;
    width: 100%;
    font-size: small;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.timestamp {
    @apply text-gray-600;
}

.like-button {
    position: absolute;
    color: white;
    top: $like-button-padding;
    right: $like-button-padding;
    z-index: $like-button-z-index;

    transition: $fade-transition;
}

.overlay {
    @apply rounded-sm;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: hsla(0, 0%, 20%, 0.2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: $fade-transition;
}

.like-button.liked {
    opacity: 0.75;
}
