.wrapper {
    position: relative;
    height: calc((15vw + 20vh) / 2);
    width: 100%;
    top: 0;
    left: 0;
}

.stop {
    stop-opacity: 1;
}

.stop#s1 {
    stop-color: '#4158D0';
}

.stop#s2 {
    stop-color: '#C850C0';
}

.stop#s3 {
    stop-color: '#FFCC70';
}

.svg {
    position: absolute;
}

#p1 {
    fill: theme('colors.secondary');
}

#p2 {
    fill: theme('colors.primary');
}
