.noneditable {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    max-width: 22rem;
    width: 100%;

    & > * + * {
        margin-left: 1rem;
    }
}

.editable {
    max-width: 22rem !important;
    width: 100% !important;

    & input {
        max-width: 20rem;
    }
}
